@charset "UTF-8";
/*
      Em HTML é id = em CSS é # (Só pode um elemento)
      Em HTML é class = em CSS é . (Pode varios elementos)
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(14, 233, 233, 0.856);
    
    h1 {
        color: rgb(0, 0, 0);
    }
    h1#principal {
        background-color: rgb(49, 134, 134);
        color: white;
        text-align: center;
    }
    h2 {
        color: rgb(46, 99, 99);
    }
    .basico {
        color: rgba(21, 21, 185, 0.795);
        font-size: 18px;
        
    }
    .intermediário {
        color: rgba(10, 10, 194, 0.801);
        font-size: 20px;
    }
    .Avançado {
        color: blue;
        font-size: 25px;
    }
    .destaque {
        background-color: rgb(53, 124, 255);
        color: white;
    }
}